.github-labels {
    margin-bottom: 10px;
}

.github-label {
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.117647) 0 -1px 0 0 inset;
    box-sizing: border-box;
    color: #000;
    cursor: auto;
    display: inline-block;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 600;
    height: 18px;
    line-height: 12px;
    list-style-type: none;
    padding: 3px 4px;
    word-wrap: break-word;
}